/* Our CSS file. */


.container, .content {
width: 100%;
height: 100%;
}

.card{
    display: flex;
    background-color: aliceblue;
    width: 90vw;
    height: 50vh;
    margin: 10vh;

}

.section-img{
    background-color: lightgreen;
    width: 20vw;
    
}


.section-content{
    margin-left : 8vw;
}

.btn{
    padding-top:13px;
    font-size:13px ;
    background-color:#91c673; 
    display: inline-block;
    border-radius: 25px;
    text-align: center;
    color:white;
    height:30px;
    width:120px;
    font-weight: bold;
    
}